

html { font-size: 62.5%;}

::-webkit-scrollbar {
  width: 20px;
}

/* --- REUSABLE --- */


/* SMALLER ELEMENTS */
h1,
h2,
h3 {
  color: #555;  
}

h1 {
  font-size: 36px;
  font-weight: 100;
  letter-spacing: 2px;
  font-family: 'Playfair Display', serif;
}

h2 {
  margin-bottom: 48px;
  font-size: 36px;
  letter-spacing: -0.5px;
  /* 24 / 30 / 36 -- approved font sizes*/ 
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  font-family: 'Cedarville Cursive', cursive;
  font-weight: 100;
  text-align: center;
  margin-bottom: 30px;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
  position: relative;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

li:first-child {
  font-weight: bold;
  margin-bottom: 0;
  margin-left: -80px;
  list-style-type: none;
}