

html { font-size: 62.5%;}

::-webkit-scrollbar {
  width: 20px;
}

/* --- REUSABLE --- */


/* SMALLER ELEMENTS */
/* 24 / 30 / 36 -- approved font sizes*/ 
h1,
h2,
h3,
h4,
h5 {
  color: #555; 
  width:65%; 
}

h1 {
  font-size: 36px;
  font-weight: 100;
  letter-spacing: 2px;
  font-family: 'Playfair Display', serif;
}

h2 {
  margin-bottom: 48px;
  font-size: 36px;
  letter-spacing: -0.5px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  font-family: 'Cedarville Cursive', cursive;
  font-weight: 100;
  text-align: center;
  margin-bottom: 30px;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

ul,
ol {
  margin-bottom: 20px;
  position: relative;
  max-width: 90%;
  color: #555;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: left;
  max-width: 95%;
}

li:first-child {
  width: 100%;
  font-weight: bold;
  margin-bottom: 0;
  margin-left: -40px;
  list-style-type: none;
  text-transform: uppercase;
  position: relative;
}

li span {
  width: 77%;
  height: 2px;
  margin-left: 20px;
  top: 15px;
  border-top: solid 1.5px #555;
  position: absolute;
}
